/*
** COMMON
*/
html{
  height: 100%;
}

body{
  font: 20px/1 roboro_regular, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #fff;
  color: #111;
  min-height: 100%;
}

.wrapper{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.clr{
  &::before, &::after {
      content: " ";
      display: table;
  }
  &::after {
      clear: both;
  }
}

.pull_left{
  float: left;
}

.pull_right{
  float: right;
}

.title{
  text-transform: uppercase;
  &.title__second{

  }

  &.title__third{

  }

  &.title__fourth{

  }
}

a:not(.logo){
  @include hover_pseudo_border(#f95f00);
}

.btn{
  display: inline-block;
  padding: 12px 15px;
  font-size: 12px;
  font-family: roboto_bold, sans-serif;
  color: #fff;
  border-radius: 4px;
  background: #fc4158;
  cursor: pointer;
  transition: .3s;
  &:hover{
    background: #d52b43;
  }
  &:active{
    transform: scale(0.95);
  }
  &.btn__md{
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &.btn__bg{
    font-size: 22px;
    text-transform: uppercase;
    padding: 18px 30px;
  }
}

.col_6{
  float: left;
  width: 50%;
}
/*
** END COMMON
*/