$colorText: #111;
$whiteColor: #fff;
$veryLightGreyColor: #f5f5f5;
$lightGreyColor: #f0f0f0;
$greyColor: #6f737f;
$darkGreyColor: #808080;
$greenColor: #2ec4b6;
$yellowColor: #cf6;
$purpleColor: #5d2e8c;
$orangeColor: #f95f00;
$redOrangeColor: #ff2b00;
$redColor: #ff3434;
$lightRedColor: #fc4158;
$pinkColor: #fce6e1;