/*
** AMAX IS
*/
.amax_is{
  height: 772px;
  text-align: center;
  position: relative;
  background: url("../images/bg/bg_main_2.png")no-repeat 50%, #f6f6f6;
  background-size: 1141px 640px;
}

//.amax_is_title{
//  font-family: roboto_black, sans-serif;
//  font-size: 60px;
//  color: #f95f00;
//  .small{
//    font-size: 25px;
//  }
//}

//.amax_is_item{
//  position: absolute;
//  font-family: roboto_bold, sans-serif;
//  font-size: 22px;
//  line-height: 1.18;
//  max-width: 360px;
//  &:nth-child(1){
//
//  }
//  &:nth-child(2){
//
//  }
//  &:nth-child(3){
//
//  }
//  &:nth-child(4){
//
//  }
//  &:nth-child(5){
//
//  }
//  &:nth-child(6){
//
//  }
//}
/*
** END AMAX IS
*/