/*
** FB MOBILE MARKET
*/
.fb_mobile_market{
  padding-bottom: 80px;
  .btn{
    margin-right: auto;
    max-width: 140px;
  }
  @media (max-width: 1024px) {
    padding-bottom: 40px;
  }
}

.fb_mobile_market_wrap{
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.fb_mobile_market_text_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.fb_mobile_market_title{
  font-family: roboto_bold, sans-serif;
  font-size: 28px;
  line-height: 1.18;
  color: #f95f00;
  margin: 1em 0 0.7em;
}

.fb_mobile_market_text{
  font-family: roboto_bold, sans-serif;
  font-size: 23px;
  line-height: 1.48;
  margin-bottom: 1.1em;
}

.fb_mobile_market_img_block{
  width: 45%;
  @media (max-width: 768px) {
    display: none;
  }
}

.fb_mobile_market_img{
  display: block;
}
/*
** END FB MOBILE MARKET
*/