/*
** HALF IMG TEXT
*/
.half_img_text{
  padding-top: 60px;
}

.half_img_text_img{
  display: block;
  //padding: 550px 15px 0 0;
  //background: url("../images/facebook/fb_1.jpg")no-repeat 50%;
  //background-size: contain;
}

.half_img_text_text{
  font-family: roboto_bold, sans-serif;
  font-size: 26px;
  line-height: 1.38;
  padding: 30px 0 0 15px;
}
/*
** END HALF IMG TEXT
*/