/*
** HEADER MAIN
*/
.header_main{
  height: 450px;
  background: url("../images/bg/bg_main_header.jpg")no-repeat 50%;
  background-size: cover;
  &.header_main__seo{
    background-image: url("../images/bg/bg_seo_header.jpg");
    @media (max-width: 768px) {
      height: 350px;
    }
  }
  &.header_main__copyright{
    background-image: url("../images/bg/bg_copyright_header.jpg");
  }
  &.header_main__odnoklassniki{
    background-image: url("../images/bg/bg_odnoklassniki_header.jpg");
    .title__bg_black{
      line-height: 1.2;
      font-size: 21px;
    }
  }
  &.header_main__facebook{
    background-image: url("../images/bg/bg_facebook_header.jpg");
  }
  &.header_main__vkontakte{
    background-image: url("../images/bg/bg_vk_header.jpg");
  }
  &.header_main__instagram{
    background-image: url("../images/bg/bg_social_header.jpg");
  }
  &.header_main__social{
    background-image: url("../images/bg/bg_social_header.jpg");
  }
  &.header_main__ad{
    background-image: url("../images/bg/bg_ad_header.jpg");
    background-clip: content-box;
    position: relative;
    .header_main_text_block{
      left: 60px;
    }
  }
  .wrapper{
    position: relative;
    height: 100%;
  }
  .title{
    text-align: left;
  }
}

.header_main_text_block{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  max-width: 530px;
  &.header_main_text_block__bg{
    max-width: 630px;
  }
  &.header_main_text_block__lg{
    max-width: 670px;
  }
  &.header_main_text_block__xl{
    max-width: 760px;
  }
  @media (max-width: 768px) {
    left: 15px;
    width: calc(100% - 30px);
  }
}

.header_main_text_shadow{
  font-size: 17px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.71;
  strong{
    font-family: roboto_bold, sans-serif;
  }
  &.header_main_text_shadow__cost{
    font-family: roboto_bold, sans-serif;
    font-size: 21px;
    margin: 10px 0;
  }
  @media (max-width: 480px) {
    line-height: 1.2;
  }
}


/*
** END HEADER MAIN
*/