/*
** OK CHESS
*/
.ok_chess{
  padding: 60px 0;
  @media (max-width: 1024px) {
    padding: 30px 0;
  }
  &.ok_chess__lightgrey{
    background: #f5f5f5;
  }
  &.ok_chess__grey{
    background: #6f737f;
  }
  &.ok_chess__p_b_none{
    padding-bottom: 0;
  }
}

.ok_chess_wrap{
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.ok_chess_img{
  width: 60%;
  padding-top: 35%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  &.ok_chess_img__1{
    background-image: url("../images/odnoklassniki/ok_1.jpg");
  }
  &.ok_chess_img__2{
    background-image: url("../images/odnoklassniki/ok_2.jpg");
    background-position: 50% 100%;
  }
  &.ok_chess_img__3{
    background-image: url("../images/odnoklassniki/ok_3.jpg");
  }
  &.ok_chess_img__4{
    background-image: url("../images/odnoklassniki/ok_4.jpg");
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }
  &.ok_chess_img__right{
    order: 2;
  }
  @media (max-width: 768px) {
    width: 100%;
    padding-top: 50%;
  }
}

.ok_chess_text_block{
  width: 40%;
  padding-top: 60px;
  .ok_chess_img__right + &{
    padding-right: 40px;
  }
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 0 !important;
  }
}

.ok_chess_title_block{
  display: flex;
  .ok_chess_title,
  .btn{
    margin-top: auto;
    margin-bottom: auto;
  }
}

.ok_chess_title{
  display: inline-block;
  max-width: 230px;
  text-align: right;
  font-family: roboto_bold, sans-serif;
  font-size: 28px;
  line-height: 1.18;
  color: #fff;
  margin-right: 15px;
  &.ok_chess_title__orange{
    color: #f95f00;
  }
}

.ok_chess_text{
  font-family: roboto_bold, sans-serif;
  color: #fff;
  line-height: 2;
  margin-top: 0.6em;
  @media (max-width: 768px) {
    display: none;
  }
}
/*
** END OK CHESS
*/