/*
** SEO TOPIC
*/
.seo_topic{
  padding: 50px 0 80px;
  background: #f0f0f0;
}

.seo_topic_list{
  padding-right: 20px;
  margin-bottom: 20px;
}

.seo_topic_item{
  font-family: roboto_bold, sans-serif;
  line-height: 1.4;
  list-style: disc inside;
}

.seo_topic_img{
  padding-top: 270px;
  background: url("../images/main/seo.jpg")no-repeat 50%;
  background-size: contain;
}
/*
** END SEO TOPIC
*/