/*
** TARGET
*/
.target{
  color: #fff;
  text-align: center;
  background: url("../images/bg/bg_seo_1.jpg")no-repeat 50%;
  background-size: cover;
  padding-bottom: 80px;
  .title{
    line-height: 1.2;
  }
  @media (max-width: 1024px) {
    padding-bottom: 40px;
  }
}

.target_text{
  font-size: 25px;
  line-height: 2;
  max-width: 950px;
  margin: 0 auto 2em;
  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 1.8;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}
/*
** END TARGET
*/