/*
** TARGET
*/
.target{
  color: #fff;
  text-align: center;
  background: url("../images/bg/bg_seo_1.jpg")no-repeat 50%;
  background-size: cover;
  padding-bottom: 80px;
}

.target_text{
  font-size: 25px;
  line-height: 2;
  max-width: 950px;
  margin: 0 auto 2em;
}
/*
** END TARGET
*/