/*
** WHAT OFFER
*/
.what_offer{
  padding: 60px 0 80px;
  @media (max-width: 1024px) {
    padding: 30px 0 40px;
  }
  &.what_offer__grey{
    background: #f0f0f0;
  }
  &.what_offer__p_t_none{
    padding-top: 0;
  }
  .panel{
    margin-bottom: 1.6em;
    @media (max-width: 1024px) {
      margin-bottom: 1.2em;
    }
  }
  p{
    max-width: 1050px;
    font-size: 22px;
    line-height: 1.45;
    margin-left: auto;
    margin-right: auto;
    & + p{
      margin-top: 1.4em;
    }
  }
  strong{
    font-family: roboto_bold, sans-serif;
  }
}
/*
** END WHAT OFFER
*/