section.application(data-order)
    .wrapper.clr
        .application_title ФОРМА ЗАЯВКИ
        .application_text наши менеджеры свяжутся с Вами в течение 5 минут
        form(action="https://formspree.io/info.amax.by" method="POST")
            .col_6
                input(type='hidden' name='_next' value='/thanks.html')
                input.input(type='text' placeholder='Ваше имя' name='name')
                input.input(type='text' placeholder='Контактный телефон' name='phone')
                input.input(type='text' placeholder='Email' name='email')
                input.input.m_b_xl(type='text' placeholder='Адрес вашего сайта (если есть)' name='address')
            .col_6
                textarea.textarea.m_b_xl(placeholder='Ваши возможные пожелания' name='suggestions')
            .col_6
                each item in [['Реклама в интернете (контекстная реклама)','Internet-advertising-(PPC)'],['Продвижение сайта в поисковиках (СЕО)','Website-promotion-in-search-engines-(SEO)'],['Реклама в социальных сетях','Advertising-in-social-networks'],['Продвижение мобильных приложений','Promotion-of-mobile-applications'],['Разработка сайта','Site-development']]
                    label.label= item[0]
                        input.checkbox(type='checkbox' name=item[1])
                        span.checkbox_img
            .col_6
                each item in [['Разработкамобильного приложения','The-development-of-mobile-applications'],['Разработка ПО','Software-development'],['Анализ Вашего сайта/приложения/ПО','Analysis-of-your-website/application/software'],['Ничего не знаю, хочу чтобы меня видели в интернете','I-do-not-know-if-I-want-to-be-seen-on-the-Internet'],['Работаю с другим агентством, ничего не работает','I-work-with-another-agency,nothing-works']]
                    label.label= item[0]
                        input.checkbox(type='checkbox' name=item[1])
                        span.checkbox_img
            button.btn.btn__bg(type='submit') ОТПРАВИТЬ