extends index1

block header_main
    .header_main.header_main__vkontakte
        .wrapper
            .header_main_text_block.header_main_text_block__bg
                h1.title.title__xl.text_white.title__shadow.title__m_t_none РЕКЛАМА VKONTAKTE.RU
                .title_bg_black_block
                    h3.title.title__xxs Преимущества размещения рекламы <br> в социальной сети VKONTAKTE
                    ul.title_list
                        li.title_item Аудитория более 350.000.000 пользователей;
                        li.title_item Гибкие настройки таргетинга: пол, возраст, страна, хобби, интересы, семейное положение;
                        li.title_item Повышение узнаваемости бренда;
                        li.title_item Настройка продаж непосредственно в группах.
                    .btn.btn__md(data-order-link) ЗАКАЗАТЬ

block content
    section.fb_desc.fb_desc__white
        .wrapper
            .col_6.text_center
                .fb_desc_text_md В ВК можно рекламировать различные типы объектов: сообщества, приложения ВКонтакте, видеозаписи, мобильные приложения, внешние сайты, а также продвигать записи ваших сообществ в ленте новостей
            .col_6
                .fb_desc_title_sm Оплата производится либо за показы, либо переходы по объявлению:
                ul.fb_desc_list
                    li.fb_desc_item Стоимость 1000 показов всего от 300 бел. рублей
                    li.fb_desc_item Средняя стоимость 1 перехода по объявлению 1,5-3 тыс. бел. рублей
                    li.fb_desc_item Минимальный бюджет 2 000 000 белорусских рублей
            .clr
            .text_center
                .btn.btn__lg(data-order-link) ЗАКАЗАТЬ

    section.vk_img_text
        .wrapper
            .vk_img_text_wrap
                .vk_img_text_col_bg
                    img.vk_img_text_img(src='images/vkontakte/vk_1.jpg')
                .vk_img_text_col_sm
                    .vk_img_text_title Изображение и текст:
                    .vk_img_text_text Доступен для всех рекламируемых объектов (сообществ, приложений, видеозаписей и внешних сайтов).
                    .btn.btn__lg(data-order-link) ЗАКАЗАТЬ

    section.vk_img_text.vk_img_text__white
        .wrapper
            .vk_img_text_wrap
                .vk_img_text_col_sm
                    .vk_img_text_title Специальный формат для рекламы сообществ:
                    .vk_img_text_text.vk_img_text_text__sm Уникальный формат для продвижения сообществ. Рекламируемое сообщество размещается в специальном блоке рекомендаций на странице «Мои Новости» между обновлениями друзей и сообществ, на которые подписан пользователь.
                    .btn.btn__lg(data-order-link) ЗАКАЗАТЬ
                .vk_img_text_col_bg
                    img.vk_img_text_img(src='images/vkontakte/vk_2.jpg')

    section.vk_img_text
        .wrapper
            .vk_img_text_wrap
                .vk_img_text_col_half
                    img.vk_img_text_img(src='images/vkontakte/vk_3.jpg')
                .vk_img_text_col_half
                    .vk_img_text_title Специальный формат для рекламы приложений:
                    .vk_img_text_text.vk_img_text_text__sm Уникальный формат для рекламы приложений. Представляет собой комплекс рекламных объявлений, размещаемых: в блоке «Рекомендуемые» на странице Каталога приложений; на странице «Мои Новости» между обновлениями друзей и сообществ, на которые подписан пользователь.
            .text_center
                .btn.btn__lg(data-order-link) ЗАКАЗАТЬ

    section.vk_img_text
        .wrapper
            .vk_img_text_wrap
                .vk_img_text_col_sm
                    .vk_img_text_title Мобильная реклама ВКонтакте:
                    .vk_img_text_text.vk_img_text_text__sm Новый формат мобильной рекламы открывает для Вас возможности продвижения через мобильную версию ВКонтакте и официальные мобильные приложения. На данный момент на устройствах с Android и iOS можно рекламировать мобильные приложения из Google Play и App Store соответственно. В будущем число мобильных платформ и спектр допустимых к рекламе товаров и услуг будет расширяться.
                    .btn.btn__lg(data-order-link) ЗАКАЗАТЬ
                .vk_img_text_col_bg
                    img.vk_img_text_img(src='images/vkontakte/vk_4.png')
