extends index1

block header_main
    .header_main.header_main__odnoklassniki
        .wrapper
            .header_main_text_block.header_main_text_block__xl
                h1.title.title__xl.text_white.title__shadow РЕКЛАМА В ODNOKLASSNIKI.RU
                h3.title.title__xs.title__bg_black Реклама в Одноклассниках часть общей системы таргетированной рекламы MAIL.RU. При умелом использовании она является эффективным рекламным инструментом.
                .btn.btn__md(data-order-link) ЗАКАЗАТЬ

block content
    section.half_lists.clr
        .col_6
            ul.half_lists_list.pull_right
                li.half_lists_item 5.000.000 пользователей в Республике Беларусь;
                li.half_lists_item можно рекламировать как саму страницу сообщества, так и напрямую Ваш сайт;
                li.half_lists_item точная настройка целевой аудитории;
        .col_6
            ul.half_lists_list
                li.half_lists_item география: страна, город;
                li.half_lists_item демография: пол, возраст, день рождения;
                li.half_lists_item выборка целевой аудитории по интересам;
                li.half_lists_item возможность настройки ремаркетинга.

    section.ok_chess.ok_chess__lightgrey
        .wrapper
            .ok_chess_wrap
                .ok_chess_img.ok_chess_img__1
                .ok_chess_text_block
                    .ok_chess_title_block
                        .ok_chess_title.ok_chess_title__orange Все страницы справа
                        .btn.btn__lg(data-order-link) ЗАКАЗАТЬ

    section.ok_chess.ok_chess__grey.ok_chess__p_b_none
        .wrapper
            .ok_chess_wrap
                .ok_chess_img.ok_chess_img__2.ok_chess_img__right
                .ok_chess_text_block
                    .ok_chess_title_block
                        .ok_chess_title Лента событий
                        .btn.btn__lg(data-order-link) ЗАКАЗАТЬ
                    .ok_chess_text Текстово-графический блок<br>(кросс-платформенное)

    section.ok_chess
        .wrapper
            .ok_chess_wrap
                .ok_chess_img.ok_chess_img__3
                .ok_chess_text_block
                    .ok_chess_title_block
                        .ok_chess_title.ok_chess_title__orange Сообщения и Обсуждения, справа
                        .btn.btn__lg(data-order-link) ЗАКАЗАТЬ

    section.ok_chess.ok_chess__lightgrey
        .wrapper
            .ok_chess_wrap
                .ok_chess_img.ok_chess_img__4.ok_chess_img__right
                .ok_chess_text_block
                    .ok_chess_title_block
                        .ok_chess_title.ok_chess_title__orange Лента событий  Промопост
                        .btn.btn__lg(data-order-link) ЗАКАЗАТЬ