extends index

block header_main
    .header_main.header_main__instagram
        .wrapper
            .header_main_text_block.header_main_text_block__bg
                h1.title.title__xl.text_white.title__shadow.title__m_t_none РЕКЛАМА В INSTAGRAM
                .title_bg_black_block
                    h3.title_text Ваша реклама в Instagram будет отображаться в лентах пользователей наряду с фотографиями, размещенными в профилях, на которые они подписаны. В такой рекламе можно эффективно использовать как изображения, так и видео.
                    .btn.btn__md(data-order-link) ЗАКАЗАТЬ

block content
    section.sing_text
        .wrapper
            p Instagram предоставляет возможность точно задать целевую аудиторию по следующим параметрам: пол, возраст, страна, хобби, интересы, семейное положение, ремаркетинг (таргетинг на посетителей вашего сайта) и т.д.

    section.vk_img_text.vk_img_text__p_b_none
        .wrapper
            .vk_img_text_wrap
                .vk_img_text_col_bg
                    img.vk_img_text_img(src='images/instagram/instagram.png')
                .vk_img_text_col_sm
                    .vk_img_text_title <span class=''text_upper>В INSTAGRAM</span> можно размещать:
                    ul.vk_img_text_list
                        li.vk_img_text_item ИЗОБРАЖЕНИЕ СО ССЫЛКОЙ
                        li.vk_img_text_item ВИДЕО
                        li.vk_img_text_item ИЗОБРАЖЕНИЕ С КНОПКОЙ УСТАНОВКИ
                    .btn.btn__lg(data-order-link) ЗАКАЗАТЬ

    section.sing_text.sing_text__grey
        .wrapper
            p Вся реклама в Instagram выделяется значком Реклама в правом верхнем углу и может содержать кнопку призыва к действию в правом нижнем углу.

    section.fb_desc.fb_desc__arrow
        .wrapper.clr
            .col_6
                .fb_desc_title_sm Кнопка призыва к действию (если она включена) может быть со следующим текстом:
                ul.fb_desc_list
                    li.fb_desc_item Применить сейчас;
                    li.fb_desc_item Забронировать;
                    li.fb_desc_item Свяжитесь с нами;
                    li.fb_desc_item Скачать;
                    li.fb_desc_item Подробнее;
                    li.fb_desc_item В магазин;
                    li.fb_desc_item Зарегистрируйтесь;
                    li.fb_desc_item См. больше.
            .col_6.text_center
                .fb_desc_text_lg Cтоимость показа или перехода с вашего объявления 
                .fb_desc_text_xl ВСЕГО ОТ 0,01$
                .btn.btn__lg(data-order-link) ЗАКАЗАТЬ