include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/blocks/head

    body
        .wrapper

            header.header

            block content


            section.application

            footer.footer


        include includes/blocks/scripts