include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/blocks/head


body
    .wrapper
        div: a(href='index1.html') Main
        div: a(href='index2.html') Seo
        div: a(href='index3.html') Copyright
        div: a(href='index4.html') Odnoklassniki
        div: a(href='index5.html') Facebook
        div: a(href='index6.html') Vkontakte
        div: a(href='index7.html') Instagram
        div: a(href='index8.html') Social
        div: a(href='index9.html') Ad


    include includes/blocks/scripts