extends index

block header_main
    .header_main.header_main__facebook
        .wrapper
            .header_main_text_block
                h1.title.title__xl.text_white.title__shadow.title__m_t_none РЕКЛАМА В FACEBOOK
                .title_bg_black_block
                    h3.title.title__xxs Преимущества размещения рекламы  в социальной сети FACEBOOK
                    ul.title_list
                        li.title_item Аудитория более 1.390.000.000 пользователей;
                        li.title_item Гибкие настройки таргетинга: пол, возраст, страна, хобби, интересы, семейное положение
                        li.title_item 80% соцсети – активные пользователи.
                    .btn.btn__md(data-order-link) ЗАКАЗАТЬ

block content
    section.half_img_text
        .wrapper.clr
            .col_6
                img.half_img_text_img(src='images/facebook/fb_1.jpg')
            .col_6
                .half_img_text_text Рекламные объявления Facebook демонстрируются пользователям в правой части персональных страниц и в новостной ленте. При этом можно рекламировать как сообщество в социальной сети, так и ваш сайт с прямым переходом при нажатии на него.

    section.fb_mobile_market
        .wrapper
            .fb_mobile_market_wrap
                .fb_mobile_market_text_block
                    .fb_mobile_market_title Мобильная реклама Facebook:
                    .fb_mobile_market_text Мобильная реклама открывает для Вас возможности продвижения через мобильную версию Facebook и официальные мобильные приложения.
                    .btn.btn__lg(data-order-link) ЗАКАЗАТЬ
                .fb_mobile_market_img_block
                    img.fb_mobile_market_img(src='images/facebook/fb_2.jpg')

    section.fb_desc
        .wrapper
            .col_6
                .fb_desc_title_sm Facebook предоставляет возможность точно задать целевую аудиторию по следующим параметрам:
                ul.fb_desc_list
                    li.fb_desc_item Местонахождение;
                    li.fb_desc_item Возраст;
                    li.fb_desc_item Пол;
                    li.fb_desc_item Интересы;
                    li.fb_desc_item Семейное положение и предпочтения;
                    li.fb_desc_item Языки;
                    li.fb_desc_item Образование.
            .col_6.text_center
                .fb_desc_title_bg ОПЛАТА ПРОИЗВОДИТСЯ ЗА ПОКАЗЫ, ЛИБО ПЕРЕХОДЫ ПО ОБЪЯВЛЕНИЮ:
                .fb_desc_text_bg Стоимость <span class='red'>1000</span> показов <span class='red'>ОТ 0,01$</span>
                .fb_desc_text_bg Средняя стоимость <span class='red'>1</span> перехода по объявлению <span class='red'>0,15-0,20$</span>
                .fb_desc_text_sm Минимальный бюджет 2 000 000 белорусских рублей
            .clr
            .text_center
                .btn.btn__lg(data-order-link) ЗАКАЗАТЬ
