form.hit_form(action="https://formspree.io/info.amax.by" method="POST")
    .hit_form_title ЗАКАЗАТЬ ЗВОНОК
    input(type='hidden' name='_next' value='/thanks.html')
    input.input.input__light(type='text' placeholder='Ваше имя' name='name')
    input.input.input__light(type='text' placeholder='Контактный телефон' name='phone')
    button.btn.btn__lg.m_t_lg(type='submit') ОТПРАВИТЬ