extends index

block header

block content
    .wrapper.clr
        .title Спасибо за оставленную заявку.<br><br>Наши менеджеры свяжутся с Вами в течении рабочего дня
        .text_center
            a.title.title__xxs(onclick='history.back(); return false;') Вернуться назад

block application

block footer