.m_t{
  margin-top: 15px;
}
.m_t_lg{
  margin-top: 30px;
}

.m_b_xl{
  margin-bottom: 40px;
}

.text_center{
  text-align: center;
}

.text_upper{
  text-transform: uppercase;
}

.text_white{
  color: #fff;
}